# Виртуальное окружение
.venv/
venv/
env/

# Переменные окружения
.env

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Изображения
generated_images/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
